.maincontent {
	margin-top: 5px;
}
#tabHead{
    margin-left: 30px;
    height: 26px;
}
#tabHead .tab {
    display: inline-block;
    color: #ddd;
    background-color: #555;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 4px 8px;
    margin: 0 2px;
    cursor: pointer;
    min-width: 100px;
}
#tabHead .tab.active {
	color: #fff;
    background-color: #222;
    background: linear-gradient( to bottom, #111, #222);
}

#tabHead .tab > button.tab_close {
	background-color: transparent;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    line-height: 8px;
    padding: 2px;
    vertical-align: baseline;
    margin-left: 6px;
    float: right;
    margin-top: 3px;
}
#tabHead .tab.unsaved button.tab_close:after {
	content: "○";
}
#tabHead .tab button.tab_close:after {
	content: "x";
}

#tabHead .tab > button.tab_close:hover {
	background-color: #ddd;
	color: #ddd;
}

#tabHead > button {
    border-color: #555;
    border-width: 1px;
    float: right;
}

#editor_section div.editor{
	display: none;
}
#editor_section div.editor.active{
	display: block;
}